@using Event_Applikation.Pages.BrugerLogin
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event_Applikation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Event_Applikation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/Index">
                            <img src="~/img/flamingo.png" alt="Avatar Logo" style="width:50px;" class="rounded-pill">
                        </a>
                    </div>
                </nav>
                <a class="navbar-brand" asp-area="" asp-page="/Index">Zealand Zoo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/All">Events</a>
                        </li>
                        @{
                            // Kontroller om man må se linket til "Opret Event"-siden i navigationsbaren
                            if (LoginModel.CurrentUser != null && 
                               (LoginModel.CurrentUser.Rolle.Brugertype == "Admin" || 
                                LoginModel.CurrentUser.Rolle.Brugertype == "Medlem"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Events/Create">Opret Event</a>
                                </li>
                            }
                        }
                        @{
                            // Kontroller om man må se linket til "Opret Event"-siden i navigationsbaren
                            if (LoginModel.CurrentUser != null &&
                            (LoginModel.CurrentUser.Rolle.Brugertype == "Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Brugere/Admin/Create">Opret Frivillig</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @{
                            // Hvis ingen er logget ind → vis "Log ind"
                            if (LoginModel.CurrentUser == null)
                            {
                                <li class="nav-item">
                                    <a class="btn btn-outline-success" asp-area="" asp-page="/BrugerLogin/Login">Log ind</a>
                                </li>
                            }
                            // ..Ellers, hvis en bruger er logget ind → vis rolle, navn og "Log ud"
                            else
                            {
                                <li class="nav-item nav-link text-dark me-3">
                                    <span>@LoginModel.CurrentUser.Rolle.Brugertype:</span>
                                    <span><b>@LoginModel.CurrentUser.Navn</b></span>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-danger" asp-area="" asp-page="/BrugerLogin/Logout">Log ud</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Zealand Zoo Event Applikation af (MVP) Mikka, Valdemar & Patrick | 2. Semester Eksamens Projekt - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>