@page
@model Event_Applikation.Pages.BrugerLogin.AccessDeniedModel
@{
}

<h1 class="display-3 mb-5">Adgang ikke tilladt</h1>

<h3>Du skal have en bruger med rettigheder hos Zealand Zoo for at se denne side</h3>