@page
@model Event_Applikation.Pages.Brugere.Admin.CreateModel
@{
}

<h1>Opret Ny Bruger</h1>

<body>
    <form method="post">
        <div class="form-group">
            <label asp-for="NyBruger.Navn" class="control-label">Navn</label>
            <input asp-for="NyBruger.Navn" class="form-control" />
            <span asp-validation-for="NyBruger.Navn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NyBruger.Email" class="control-label">Email</label>
            <input asp-for="NyBruger.Email" class="form-control" />
            <span asp-validation-for="NyBruger.Email" class="text-danger"></span>
            @if(Model.Fejlbesked != null)
            {
                <div class="text-danger"> @Model.Fejlbesked</div>
            }
        </div>
        <div class="form-group">
            <label asp-for="NyBruger.Adgangskode" class="control-label">Adgangskode</label>
            <input asp-for="NyBruger.Adgangskode" class="form-control" />
            <span asp-validation-for="NyBruger.Adgangskode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NyBruger.RolleId" class="control-label">Rolle</label>
            <select asp-for="NyBruger.RolleId" asp-items="Model.RolleList" class="form-control">
                <option value="">-- Vælg et Rolle --</option>
            </select>
            <span asp-validation-for="NyBruger.RolleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NyBruger.CampusId" class="control-label">Campus</label>
            <select asp-for="NyBruger.CampusId" asp-items="Model.CampusList" class="form-control">
                <option value="">-- Vælg et Campus --</option>
            </select>
            <span asp-validation-for="NyBruger.CampusId" class="text-danger"></span>
        </div>
        <p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" asp-page-handler="Submit">Opret</button>
            </div>
        </p>
    </form>
</body>
