@page
@model Event_Applikation.Pages.Events.CreateModel
@{
}
@* <link rel="stylesheet" href="~/css/site.css/> *@

<h1>Create New Events</h1>

<body>
    <form method="post">
        <div class="form-group">
            <label asp-for="Event.Titel" class="control-label">titel</label>
            <input asp-for="Event.Titel" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.Beskrivelse" class="control-label">beskrivelse</label>
            <textarea asp-for="Event.Beskrivelse" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Event.Lokation" class="control-label">lokation</label>
            <input asp-for="Event.Lokation" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.Dato" class="control-label">dato</label>
            <input asp-for="Event.Dato" type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.Starttid" class="control-label">start tidspunkt</label>
            <input asp-for="Event.Starttid" type="time" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.Sluttid" class="control-label">slut tidspunkt</label>
            <input asp-for="Event.Sluttid" type="time" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.Antalsbegrænsning" class="control-label">
                max antal deltagere <em>udfyld kun hvis antalsbegrænsning</em>
            </label>
            <input asp-for="Event.Antalsbegrænsning" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Event.KategoriId" class="control-label"></label>
            <select asp-for="Event.KategoriId" asp-items="Model.KategoriList" class="form-control">
                <option value="">-- Vælg en kategori --</option>
            </select>
            <span asp-validation-for="Event.KategoriId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="create event" class="btn btn-primary" />
        </div>
    </form>
</body>






@* <form method="post">
	<div class="form-group">
		<label asp-for="NewCase.TheProduct" class="control-label">Select Product</label>
		<select asp-for="ProductId" asp-items="@Model.Products" class="form-control"></select>
	</div>
	<p>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</p>
</form>@**@