@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til</h1>
    <img src="~/img/zealandzoo-velkommen.png" style="width:750px;height:550px;border-radius: 25px;">
</div>
